@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif ;
}
body,html,ul{
    padding: 0;
    margin: 0;
}
.left{
    width: 300px;
    height: 300px;
    display: inline-block;
}
.header{
    position: absolute;
font-size: 50px;
left: 0;
top: 50px;

font-weight: 800;
padding-left: 40px;
padding-bottom: 100px;

}
.header>span{
    font-size: 20px;
    
    
}
.main{
    position: relative;
}
/* .line{
    position: absolute;
    width: 7px;
    top: 52px;
    height: 102px;
    background-color: #E3872D;
    left: 0%;
    display: inline-block;
    margin-left: 20px;
   
    /* margin: 30px; */
 
/* .img{
    padding: 300px;
    position: absolute;
    left: -20%;
   width: 20px;
   height: 20px;


}
.img img{
    width: 100vh;
    height: auto;
} */
.lines{
    bottom: -19% !important;
    right: 66% !important;
    position: absolute;
    border: 10px solid #041230;
    left: 3% !important;
    top: 55% !important;
}
.pic{
    position: absolute;
    top: 50%;
   left: 25px;

    width: 400px;
    height: 550px;
    
     transform: translateZ(2);
}
.pic img{
    width: 100%;
  
}
.right{
    width: 60%;
    box-sizing: border-box;
    height: 300px;
    
   float: right;
display: inline-block;
font-size: 16px;
   
   
}
.left::before{
    content: "";
    height: 102;
    width: 7px;
    background-color: #E3872D;
    position: absolute;
    height: 99px;
    padding: 6;
    top: 62px;
}
h2{
    float: right;
    top: 36%;
    position: absolute;
    right: 39%;
     ;
}
span h2{
    float: right;
    top: 36%;
    position: absolute;
    right: 24%;
    color:#E3872D
}
.block1{
    width: 180px;
    height: 40px;
    background-color: #E3872D;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 600;
    font-family: "Montserrat";

    
}
.block2{
    width: 180px;
    height: 40px;
    background-color: #E3872D;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: 600;
    font-family: "Montserrat";
    
}
.block1 span>a{
    color: white;
    position: absolute;
    left: 42%;
    
    bottom: -30px;
    transform: translate(10px, 1px);
}
.block2 span>a{
    color: white;
    position: absolute;
    left: 56%;
    
    bottom: -30px;
    transform: translate(10px, 1px);
}
.block1:hover{
    background-color: #041230;
    transition: 0.2s;
}
.block2:hover{
    background-color: #041230;
    transition: 0.2s;
}